<footer>
  <img
    src="images/logo/dekoor.png"
    alt="Logo"
    style="width: 107.02px; height: 31.91px"
  />
  <p>
    Dekoor is a furniture company created to fulfill the needs of family with
    aesthetic feeling in their furniture. Always pay attention to details and
    give clear communication for the customers. Priority of our design is
    comfortability.
  </p>
  <div>
    <div>
      <p>Support</p>
      <p>FAQ</p>
      <p>Shipping & Returns</p>
      <p>Care Guide</p>
      <p>Redeem Warranty</p>
    </div>
    <div>
      <p>Social Media</p>
      <p>Instagram</p>
      <p>Facebook</p>
      <p>Twitter</p>
      <p>Tiktok</p>
    </div>
    <div>
      <p>About Us</p>
      <p>Our Story</p>
      <p>Design</p>
      <p>Craftmanship</p>
      <p>Sustainability</p>
    </div>
  </div>
</footer>
